<div class="blog-masthead">
    <div class="container">
        <nav class="nav">
            <a class="nav-link active" href="{{ path('category_index') }}">Categories</a>
            <a class="nav-link" href="{{ path('post_index') }}">Posts</a>
        </nav>
    </div>
</div>
